.Hero {
    background-color: #ebe5e5;
}
h2 {
    color: #9e6236;
    font-size: 35px;
    font-family: 'Montserrat' ,sans-serif;
    font-weight: 500;
    text-align: center;
    padding-top: 60px;
}

.Hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: white;
}

.brands {
    background-color: transparent;
    color: #d19c75;
    font-size: 24px;
}

@media (min-width:769px) and (max-width: 1024px) {
    h2 {
        font-size: 25px;
    }


.Hero-buttons {
    padding: 20px 30px;
    font-size:20px ;


}
}