body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px; */
  padding: 10px 20px;
  background-color: #ECECEC;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  

}

.navbar-brand {
  color: #9E6236;
  font-weight: 700;
  font-size: 35px;
  font-family: 'Kalam' ,sans-serif;
  text-align: center;
  margin-left: 10%;
  
}

.navbar-links {
  display: flex;
  gap: 30px;
  padding: 0px 50px;

  
}

.navbar-links a {
  text-decoration: none;
  color: #d19c75;
  font-weight: 500;
  font-family: 'Montserrat',sans-serif;
  font-size: 18px;

}

.navbar-links a span {
  color: black;
  font-size: 18;
  font-weight: 700;
  color: #9E6236;
  font-family: 'Montserrat',sans-serif;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.navbar-icons {
  display: flex;
  gap: 40px;
  font-size: 25px;
  color: #d19c75;
  margin-left: 20%;
  
}

.Link {
  color: #D19C75;
 
}

.signup-button {
  color: #F6F6F6;
  background-color: #D19C75;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5%;
  font-family: 'Montserrat' , sans-serif;
 
}

@media (max-width: 768px) {
    
  .navbar-links {
    display: none;
  }

  .navbar {
    width: 120%;
    
     }

     .signup-button {
      display: none;
    }

    .navbar-brand {
      text-align: center;
      margin-left: 23%;
      font-size: 20px;
  }

  .menu-icon {
    display: block;
    border-radius: 50%;
    background-color: #D19C75;
    border: 2px #D19C75 solid;
    color: white;
    padding: 4px 8px;
  }

  .navbar-icons {
   margin-right: 10%;
  }

  .Link {
    font-size: 20px;
    margin-left: -30%;
  }

  
  


  /* .navbar {
      width: 152.5%;
       }

  .signup-button {
    display: none;
  }

  .navbar-brand {
      text-align: center;
      margin-left: 15%;
      font-size: 25px;
  }
  
  .menu-icon {
    display: block;
    border-radius: 50%;
    background-color: #D19C75;
    border: 2px #D19C75 solid;
    color: white;
    padding: 5px 10px;
    margin-left: 20%;
  }

  .navbar-icons {
    margin-right: 5%;  
  } */
}





  /* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #ECECEC;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .navbar-brand {
    color: #9E6236;
    font-weight: 700;
    font-size: 35px;
    font-family: 'Kalam' ,sans-serif;
    text-align: center;
    margin-left: 15%;
  }
  
  .navbar-links {
    display: flex;
    gap: 30px;
    margin-left: 5%;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #d19c75;
    font-weight: 500;
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
  }

.navbar-links a span {
    color: black;
    font-size: 18;
    font-weight: 700;
    color: #9E6236;
    font-family: 'Montserrat',sans-serif;


  }
  
  .navbar-icons {
    display: flex;
    gap: 40px;
    font-size: 25px;
    color: #d19c75;
    margin-left: 10%;
  }

.Link {
    color: #D19C75;
  }
  
  .signup-button {
    color: #F6F6F6;
    background-color: #D19C75;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10%;
    font-family: 'Montserrat' , sans-serif;
   
  }
  
  .menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }


  @media (max-width: 1024px) {
   
    .navbar-links {
      gap: 15px;
      display: none;
    }
  
    .navbar-container {
      padding: 10px;
    }
  
    .navbar-brand {
      font-size: 20px;
       }
  
    .navbar-icons {
      font-size: 16px;
      margin-left: 5%;
     }
  
    .signup-button {
      padding: 8px 20px;
      font-size: 12px;
      margin-left: 5%;
      display: none;
     }

     .menu-icon {
        display: block;
        border-radius: 50%;
        background-color: #D19C75;
        border: 2px #D19C75 solid;
        color: white;
        padding: 5px 10px;
      }
  
  }
  
  
  
  @media (max-width: 768px) {
    
    .navbar-links {
      display: none;
    }

    .navbar {
        width: 152.5%;
         }
  
    .signup-button {
      display: none;
    }

    .navbar-brand {
        text-align: center;
        margin-left: 15%;
        font-size: 25px;
    }
    
    .menu-icon {
      display: block;
      border-radius: 50%;
      background-color: #D19C75;
      border: 2px #D19C75 solid;
      color: white;
      padding: 5px 10px;
      margin-left: 20%;
    }

    .navbar-icons {
      margin-right: 5%;  
    }
  }
  @media (min-width:769px) and (max-width: 1024px) {
    header {
        padding: 5px 50px;
    
    }
    .navbar {
    }

} */

 
